.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
    float: left;
    clear: none;
}
body{
    margin: 0px;
}
.logo{
    width: 50%;
    height: 85px;
    font-size: 40px;
    font-weight:bold;
    padding-top: 20px;
    float: left;
}
.login{
    float:right;
    width: 40%;
    height:85px;
    padding-top:10px;
    padding-left:100px;
    text-decoration-color: #fff;
}
.text{
    text-decoration:none;
    color: aliceblue;
    margin-left: 170px;

}
.login-label{
    color: #fff;
    font-size:15px;

}
.login-control{
    margin-left:115px;
}
.left-section{
    width:50%;
    height:500px;
    float: left;
    margin: 0px;
}
.right-section{
    width: 50%;
    height:500px;
    float: left;
    text-align: center;
    font-size: 17px;
    margin: 0px;
    text-decoration: none;
   
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}
.sub-btn:hover{
    background: brown;
}
.main-section{
    width:100%;
    height: 700px;
    background: linear-gradient(white, #D3D8E8);
}
.para{
    padding-left: 124px;
    padding-top: 53px;
    font-weight:bold;
    font-size: 21px;
}
.para1{
    font-weight: bold;
    font-size: 40px;
    padding-right: 130px;
}
.para2{
    font-size: 24px;
    padding-right: 235px;
    margin: -34px;
}
.details{
    padding-left: 160px;
    padding-top: 47px;
}
.firstname{
    height: 24px;
    width: 200px;
    border-radius: 4px;
    font-size: 19px;
    border-color: white;
}
.surname{
    height: 24px;
    width: 200px;
    border-radius: 4px;
    font-size: 19px;
    border-color: white;
    margin: 5px;
}
.mob{
    width: 299px;
    border-radius: 5px;
    border-color: white;
    height: 26px;
    text-align: left;
    font-size: large;
}
.detailsone{
    padding-left: 160px;
    padding-top: 4px;
}
.pass{
    width: 299px;
    border-radius: 5px;
    border-color: white;
    height: 26px;
    text-align: left;
    font-size: large;
    margin: 7px;
}
